{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<div id="tool-div">
  <div id="body" class="section">
    <div class="tool" id="size">
      <div class="tag">Size</div>
      <input class='input-range' type="range" min="0" max="150" step='5'>
    </div>
    <div class="tool" id="sides">
      <div class="tag">Sides</div>
      <input class='input-range' type="range" min="0" max="8" step='1'>
    </div>
    <div class="tool" id="density">
      <div class="tag">Density</div>
      <input class='input-range' type="range" min="0" max="0.01" step='0.001'>
    </div>
    <div class="tool" id="friction">
      <div class="tag">Friction</div>
      <input class='input-range' type="range" min="0" max="1" step='0.05'>
    </div>
    <div class="tool" id="frictionAir">
      <div class="tag">Friction Air</div>
      <input class='input-range' type="range" min="0" max="0.1" step='0.01'>
    </div>
    <div class="tool" id="chamfer">
      <div class="tag">Chamfer</div>
      <input class='input-range' type="range" min="0" max="30" step='2'>
    </div>
    <button id="addBody">Add body</button>
  </div>
  <div class="section"><button id="resize">Resize</button></div>
  <div class="section"><button id="rotate">Rotate</button></div>
  <div class="section"><button id="delete">Delete</button></div>
</div>
<style>
#toggle{
	position: absolute;
	top:20%;
	left:60%;
}
a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}
.disabled{
	display: none;
}
.butt{
	width: 50px;
	float: left;
	height: 30px;
	background-color: white;
	border-color: black;
	color:black;
	position: relative;
	left:5%;
	top: 15%;
}	
.butt:hover{
	color:white;
	background-color: black;
	border-color: white;
	cursor: pointer;
}

</style>
<div id="toggle">
	<a href="#" class="toggler">&nbsp;</a>
</div>
<div id="studio"></div>
<canvas id="draw_mode" class="disabled" width="800" height="600" style="left:5%; background-color: white; top:20%; position: absolute;"></canvas>
<button id="save" class="butt">Save</button>
<button id="clear" class="butt">Clear</button>
<script src="local.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
    	$('a.toggler').click(function(){
        	$(this).toggleClass('off');
        	if(!$('#studio').hasClass('disabled')){
        		$('#studio').addClass('disabled');
        		$('#draw_mode').removeClass('disabled');
        	}
        	else{
        		$('#studio').removeClass('disabled');
        		$('#draw_mode').addClass('disabled');
        	}
    	});
	});
</script>

{% endblock %}
