@font-face{
  font-family: Petita;
  src: url('./Petita.ttf');  
}

html,body{
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.7);
}
html,body, input, button{
    font-size: 11px;
    font-family: Petita;
    color: rgb(9, 197, 197);
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header{
    position: fixed;
    width: 200px;
    height: 50px;
    /*background-color: rgba(0, 143, 143, 0.76);
    border-right: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);*/
}

#studio{
    margin-left: 200px;
    margin-top: 25px;
}
#studio canvas{
    /*background: rgb(194, 194, 194) !important;*/
    border: 1px solid rgba(2, 88, 88, 0.7);
    border-radius: 4px;
}

#tool-div{
    position: fixed;
    right:50px;
    top: 50px;
    padding: 15px;
}
.section{
    padding: 5px 10px;
    position: relative;
    border-bottom: 1px solid;
}
footer{
    
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(9, 197, 197);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  margin-bottom: 5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(9, 197, 197);
  outline: none;
}

button{
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0, 143, 143, 0.76);
}
button:focus{
    outline: none;
}